<div class="row">
  <ul>
    <li>
<<<<<<< HEAD
      <p>参加者：<span><%= @participations_join_num %></span></p>    
      <p>未定者：<span><%= @participations_undecided_num %></span></p>    
      <p>不参加者：<span><%= @participations_non_num %></span></p>    
    </li>
=======
      <p>参加者：<span><%= @participations.count %></span></p>    
      <p>未定者：<span><%= @participations.count %></span></p>    
    </li>
    <li></li>
>>>>>>> master
  </ul>

</div>