<div class="notification-container">
  <% notifications.each do |notification| %>
    <% visitor = notification.visitor %>
    <% visited = notification.visited %>
    <div class="row notice">
      <div class="col-md-12 mx-auto">
        <div class="form-inline">
          <span>
            <%= link_to user_path(visitor) do %>
              <% if visitor.image? %>
                <%= image_tag(visitor.image.to_s, size: "60x60") unless visitor.image.file.nil? %>
              <% else %>
                <%= image_tag("no_image.jpg", size: "60x60") %>
              <% end %>
              <strong><%= "#{visitor.name}さんが" %></strong>
            
              <% case notification.action %>
              <% when 'follow' %>
                <%= "あなたをフォローしました" %>
              <% when 'comment' %>
                <% if notification.event.user_id == visited.id %>
                  <%= link_to "参加しているイベントに", notification.event, style: "font-weight: bold;" %>
                <% else %>
                  <span>
                    <%= link_to event_path(notification.event) do %>
                      <strong>
                        <%= notification.event.event_name %>
                      </strong>
                    <% end %>
                  </span>
                <% end %>
                <%= "にコメントしました" %>
              <% end %>
            <% end %>
          </span>
        </div>
        <div class="small text-muted text-right">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
      <hr>
      </div>
    </div>
  <% end %>
</div>