

<div class="introduction">
  <div class="row introduction__header">
    <div class="introduction__header__image text-center col-xs-4">
      userの写真を載せますよー！
    </div>
    <div class="introduction__header__text col-xs-8">
      <div class="introduction__header__text__top row">
        <div class="introduction__header__text__top__name text-center col-xs-4">
          <%= @user.name %>
        </div>
        <% if @user.id == current_user.id %>
          <%= link_to edit_user_path(@user), class: "btn btn-default introduction__header__text__top__edit text-center col-xs-offset-2 col-xs-3 edit_user_#{@user.id}" do %>
            <span style="font-size: 1em;">
              <i class="fas fa-user-cog"></i>
            </span>
          <% end %>
        <% else %>
          フォロー機能実装予定
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-4">参加イベント<%= "（数字）" %>件</div>
        <div class="col-xs-4">フォロワー<%= "（数字）" %>人</div>
        <div class="col-xs-4">フォロー<%= "（数字）" %>人</div>
      </div>
    </div>
  </div>
  <div class="introduction__header__text__introduce text-center">
    <%= @user.introduction %>
  </div>
</div>