<% if @user.errors.any? %>

  <h2><%= @user.errors.count %>errors prohibited this  from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-xs-9">
    <h2 class="color">登録情報編集</h2>
  </div>
</div>

<%= form_for @user do |f| %>

  <%= f.label :name, "名前", class: "col-xs-3" %>
  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-xs-7 form-control" %>

  <%= f.label :name_k, "ナマエ", class: "col-xs-2" %>
  <%= f.text_field :name_k, autofocus: true, autocomplete: "name_k", class: "col-xs-6 form-control" %>

  <%= f.label :image, "画像" %><br>
  <%= f.file_field :image, class: "form-control" %><br>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-xs-7 col-xs-offset-3 form-control" %>

  <%= f.label :phone_number, "電話番号" %>
  <em>(ハイフンなし)</em>

  <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "col-xs-7 col-xs-offset-3 form-control" %>

  <%= f.submit "編集内容を保存する", class: "btn btn-primary" %>

<% end %>

