<div class="home-about__suggestion">
  <div class="home-about__suggestion__person">
    <div class="text-center">
      <h2>こんな方にオススメ</h2>
      <div class="row">
        <div class="col-xs-4 home-about__suggestion__person__item">
          <%= image_tag('hoster.jpeg') %>
        </div>
        <div class="col-xs-4 home-about__suggestion__person__item">
          <%= image_tag('relation.png') %>
        </div>
        <div class="col-xs-4 home-about__suggestion__person__item">
          <%= image_tag('sche.png') %>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h2>対象スポーツ</h2>
      <div class="home-about__suggestion__sports">
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-baseball.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-soccer.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-vollayball.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-basketball.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-bowling.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-bad.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-tennis.png') %>
        </div>
        <div class="home-about__suggestion__sports__type">
          <%= image_tag('type-tabletennis.png') %>
        </div>
      </div>
    </div>
  </div>
</div>