<h2>新規イベント作成</h2>
<%= form_for @event do |f| %>
  <%= f.label :event_name, "イベント名" %><br>
  <%= f.text_field :event_name, autofocus: true, autocomplete: "イベント名" %><br>

  <%= f.label :type_id, "イベント種目" %><br>
  <%= f.select :type_id, Type.all.collect {|t| [t.name, t.id]}, {}, {class: "form-control"} %><br>

  <%= f.label :start_date, "開催日時" %><br>
  <%= f.datetime_select :start_date, autofocus: true, autocomplete: "開催日時" %><br>
  
  <%= f.label :finish_date, "終了日時" %><br>
  <%= f.datetime_select :finish_date, autofocus: true, autocomplete: "終了日時" %><br>

  <%= f.label :place_name, "開催場所名" %><br>
  <%= f.text_field :place_name, autofocus: true, autocomplete: "開催場所名" %><br>

  <%= f.label :address, "住所" %><br>
  <%= f.text_field :address, autofocus: true, autocomplete: "住所" %><br>

  <%= f.label :introduction, "イベント紹介文" %><br>
  <%= f.text_area :introduction, autofocus: true, autocomplete: "イベント紹介文" %><br>

  <%= f.label :image, "イベント写真" %><br>
  <%= f.attachment_field :image %><br>

<% end %>
