<div class="event-show">
  <div class="event-show-top">
    <div class="event-show-top__container">
      <div class="event-show-top__container__item">
        <h2><%= @event.event_name %></h2>
      </div>

      <div class="event-show-top__container__item">
        <p>種目：<span><%= @event.type.name %></span></p>
      </div>

      <div class="event-show-top__container__item">
        <p>開催日時：<span><%= @event.date %></span></p>
      </div>
    </div>

    <div id="map" class="<%= @event.address %>%"></div>
  </div>

  <div class="row event-show-main">
    <div class="col-xs-7 event-show-main__item-introduction">
      <h3>紹介文</h3>
      <p><%= @event.introduction %></p>
    </div>
    
    <div class="col-xs-5 event-show-main__item-participation">
      <h3>参加者</h3>
      <table>
        <% @participations.each do |participation| %>
        <tr>
          <td width="150" height="60"><%= User.find(participation.user_id).name %></td>
          <td width="150" height="60"><%= "#{User.find(participation.user_id).age}歳" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

	<%# participation#create後にparticipation#indexに飛ばしたい %>
	<div class="text-center">
		<%= form_for(@participation, url: event_participations_path(event_id: params[:id])) do |f| %>
			<% f.hidden_field :status, value: 0 %>
			<%= f.submit "このイベントに参加する", class: "btn btn-success" %>
		<% end %>
	</div>
</div>

<%= render 'mapstyle' %>



