<div class="game-halfway-container">
  <%= form_for([@event ,@event.games.build]) do |f| %>
    <div class="game-halfway-container__team row">
      <div class="game-halfway-container__team__item col-xs-6">
        <% @member1.each do |member1| %>
          <div>
            <%#<div><%= member1.user.image %><%#</div>%>
            <div><%= member1.user.name %></div>
          </div>
        <% end %>
      </div>
      <p>チーム1：<span><%= @team1.name %></span></p>
      <%= f.select :score1, (1..300).to_a, {include_blank: "点数"}, {class: "form-control", style: "width: 60px;"} %>
      <div class="game-halfway-container__team__item col-xs-6">
        <% @member2.each do |member2| %>
          <div class="text-center">
            <%#<div><%= member2.user.image%><%#</div>%>
            <div><%= member2.user.name %></div>
          </div>
        <% end %>
      </div>
      <p>チーム2：<span><%= @team2.name %></span></p>
      <%= f.select :score1, (1..300).to_a, {include_blank: "点数"}, {class: "form-control", style: "width: 60px;"} %>
    </div>
    <%= f.submit "結果を記録する", class: "btn btn-success btn-lg" %>  
  <% end %>
</div>



