<%= form_for([@event ,@event.games.build]) do |f| %>
  <div class="game-halfway-container">
    <%#<div class="line"></div>%>
    <div class="game-halfway-container__team row">
      <div class="game-halfway-container__team__item text-left col-xs-6">
        <div>
          <% @member1.each do |member1| %>
            <%#<div><%= member1.user.image %><%#</div>%>
            <div><%= member1.user.name %></div>
          <% end %>
        </div>
      </div>
      <div class="game-halfway-container__team__item text-right col-xs-6">
        <div class="text-right">
          <% @member2.each do |member2| %>
            <%#<div><%= member2.user.image%><%#</div>%>
            <div><%= member2.user.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-center">
      <p>チーム1：<span><%= @team1.name %></span></p>
    </div>
    <div class="col-xs-6 text-center">
      <p>チーム2：<span><%= @team2.name %></span></p>
    </div>
  </div>
  <div class="score">
    <%= f.select :score1, (1..300).to_a, {include_blank: "点数"}, {class: "form-control", style: "width: 60px;"} %>
    <%= f.select :score2, (1..300).to_a, {include_blank: "点数"}, {class: "form-control", style: "width: 60px;"} %>
  </div>

  <div class="text-center">
    <%= f.submit "結果を記録する", class: "btn btn-success btn-lg" %>  
  </div>
<% end %>

