<div class="game-index">
  <div class="row game-index__row">
    <div class="col-xs-3">
    
    </div>
    <div class="col-xs-9 game-index__row__right">
      <table class="game-index__row__right__table">
        <% @games.each.with_index(1) do |game, i| %>
          <tr>
            <th class="index"><%= "#{i}試合目" %></th>
            <% if (game.win_id) < (game.lose_id) %>
              <td class="win-lose-left">
                <div class="winer">winer</div>
              </td>
              <td class="team-name"><%= Team.find_by(id: game.win_id).name %></td>
              <td class="score"><%= game.win_score %></td>
              <td>ー</td>
              <td class="score"><%= game.lose_score %></td>
              <td class="team-name"><%= Team.find_by(id: game.lose_id).name %></td>
              <td></td>
            <% else %>
              <td></td>
              <td class="team-name"><%= Team.find_by(id: game.lose_id).name %></td>
              <td class="score"><%= game.lose_score %></td>
              <td>ー</td>
              <td class="score"><%= game.win_score %></td>
              <td class="team-name"><%= Team.find_by(id: game.win_id).name %></td>
              <td class="win-lose-right">
                <div class="winer">winer</div>
              </td>
            <% end %>
            <td>
              <%= link_to "詳細を見る", game_path(game) %>
            </td>
            <td>
              <%= link_to edit_game_path(game) do %>
                <i class="fas fa-cog"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>