<div class="game-index">
  <h2>紅白戦新規作成</h2>

  <%= form_tag halfway_event_games_path, method: :get do |f| %>
  <table>
    <tr>
      <th>試合日</th>
      <td>2020/06/01</td>
    </tr>
    <tr>
      <th>参加メンバー</th>
      <td>
        <%= radio_button_tag :member_select, "all", checked: true %>
        <%= label_tag :member_select, "イベント参加メンバー全員"%>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= radio_button_tag :member_select, "select" %>
        <%= label_tag :member_select, "参加メンバーを選択" %></br>
        <%= label_tag :id, "メンバー選択：" %>
        <%= collection_select(:participation_select, :user_id, @users, :id, :name, {include_hidden: false}, {multiple: true, class: "form-control"}) %>
  
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <%= radio_button_tag :member_select, "select_team" %>
        <%= label_tag :member_select, "チームを自分で決める"%>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <%= label_tag :id, "チーム1：" %>
        <%= collection_select(:select_team1, :user_id, @users, :id, :name, {include_hidden: false}, {multiple: true, class: "form-control"}) %>
      </td>
    </tr>

    <tr>
      <th></th>
      <td>
        <%= label_tag :id, "チーム2：" %>
        <%= collection_select(:select_team2, :user_id, @users, :id, :name, {include_hidden: false}, {multiple: true, class: "form-control"}) %>
      </td>
    </tr>

  </table>
  <%= button_tag type: "submit" do %>投稿する<% end %>
  <% end %>
</div>